/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*
 This expand the size when the error message is multiple lines
*/
.mat-mdc-form-field {
  @apply w-full self-start;

  .mat-mdc-form-field-subscript-wrapper {
    @apply flex;

    .mat-mdc-form-field-error-wrapper {
      @apply static;
    }

    .mat-mdc-form-field-hint-wrapper {
      @apply static;
    }
  }
}

/**
 * Disable default snackbar color
 */
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

/**
 * Fix problem with material and tailwind css
 */
.mdc-notched-outline__notch {
  border-right: none;
}
