<div
	class="p-1 flex flex-col md:flex-row flex-wrap gap-3 items-center justify-center content-center">
	<div class="w-full h-full bg-gray-50 p-2">
		<div [ngStyle]="{'height.px':height}"
			class="w-sm sm:w-md md:w-full md:min-w-xl">
			<f-flow fDraggable (fSelectionChange)="selectionChanged($event)">

			@if(conf.liveShowGrid$|async){ <f-background> <f-circle-pattern></f-circle-pattern>
			</f-background> } <f-line-alignment [fAlignThreshold]="10"></f-line-alignment> <f-selection-area></f-selection-area>
			<f-canvas fZoom> @for(node of nodes;track node.id){
			<div fNode [fNodeId]="node.id" fDragHandle
				[fNodePosition]="node.position">
				<app-component-type-node-container [type]="node.type"
					[isSelected]="node.id === selected?.id" (width)="node.width=$event"
					(height)="node.height=$event">
				<div
					class="flex flex-row gap-2 items-center justify-center bg-gray-100 rounded-lg p-2">
					<app-content-type-badge [type]="node.type"></app-content-type-badge>
					<div class="grow text-wrap font-bold text-lg">{{node.name}}</div>
				</div>
				@for(endpoint of node.endpoints;track endpoint.id){
				@if(endpoint.isSource){
				<div class="grow rounded-lg p-2 gap-2" fNodeOutput
					[fOutputId]="endpoint.id" [fOutputMultiple]="true"
					fOutputConnectableSide="right" fNodeOutlet>
					<mat-icon color="primary" fontIcon="publish"></mat-icon>
					{{endpoint.name}}
				</div>
				} @else{
				<div class="grow rounded-lg p-2 gap-2" fNodeInput
					[fInputId]="endpoint.id" [fInputMultiple]="true"
					fInputConnectableSide="left">
					<mat-icon color="primary" fontIcon="download"></mat-icon>
					{{endpoint.name}}
				</div>
				} } </app-component-type-node-container>
			</div>
			} @for(connection of connections;track connection.id){ <f-connection
				[fType]="conf.liveEdgeType$ | async | toConnectionType"
				[fConnectionId]="connection.id" [fOutputId]="connection.sourceId"
				[fInputId]="connection.targetId"
				[fStartColor]="colorFor(connection)"
				[fEndColor]="colorFor(connection)"
				[ngClass]="{'stroke-3':isSelected(connection),'stroke-2':!isSelected(connection)}"
				[fOffset]="30"> <app-connection-markers
				[color]="connection.isEnabled?'fill-sky-400':'fill-gray-200'"
				selectedColor="fill-red-800"></app-connection-markers> </f-connection> } </f-canvas> <f-selection-area></f-selection-area>
			</f-flow>
		</div>
	</div>
	@if(selectedNode != null){
	<div class="max-w-3xl grid grid-cols-2 gap-3">
		<div class="text-left font-bold"
			i18n="The label of the selected component type attribute@@main_topology_live_status_component-type-label">Type:</div>
		<div class="text-left">{{selectedNode.component.type}}</div>
		<div class="text-left font-bold"
			i18n="The label of the selected component name attribute@@main_topology_live_status_component-name-label">Name:</div>
		<div class="text-left">{{selectedNode.component.name}}</div>
		<div class="text-left font-bold"
			i18n="The label of the selected component description attribute@@main_topology_live_status_component-description-label">Description:</div>
		<div class="text-left">{{selectedNode.component.description}}</div>
		<button class="col-span-2" matButton color="primary"
			[routerLink]="['/main/topology/live/components',selectedNode.component!.id!,'show']">
			<mat-icon>info</mat-icon>
			<span
				i18n="The label of the button to go to get more information about the live component@@main_topology_live_status_more-info-about-selected-node-button-label">More
				info</span>
		</button>
	</div>
	}@else if(selectedConnection!=null ){
	<div class="max-w-3xl grid grid-cols-2 gap-3">
		<div class="text-left font-bold"
			i18n="The label of the selected connection source identifier@@main_topology_live_status_selected-connection-source-id-label">Source:</div>
		<div class="text-left">{{selectedConnection.sourceId}}</div>
		<div class="text-left font-bold"
			i18n="The label of the selected connection target identifier@@main_topology_live_status_selected-connection-target-id-label">Target:</div>
		<div class="text-left">{{selectedConnection.targetId}}</div>
		<div class="text-left font-bold"
			i18n="The label of the selected connection is enabled@@main_topology_live_status_selected-connection-is:enabled-label">Enabled:</div>
		<div class="text-left">
			@if(selectedConnection.isEnabled){
			<mat-icon color="primary">wifi_on</mat-icon>
			}@else{
			<mat-icon color="warn">wifi_off</mat-icon>
			}
		</div>
		<button class="col-span-2" matButton color="primary"
			[routerLink]="['/main/topology/live/connections',selectedConnection.connection.id,'show']">
			<mat-icon>info</mat-icon>
			<span
				i18n="The label of the button to go to get more information about the selected live connection@@main_topology_live_status_more-info-about-selected-connection-button-label">More
				info</span>
		</button>
	</div>
	}

</div>