<div
  class="p-3 gap-7 flex flex-col items-center justify-center content-center"
  [formGroup]="form">
  <div class="max-w-3xl grid grid-cols-2 gap-3">
    <mat-form-field class="text-left col-span-2"> <mat-label
      i18n="The label of the field to match the source or target of the compponent@@main_topology_connections_search-pattern-label">
		Source or target</mat-label> <input matInput type="text" formControlName="pattern">
  </mat-form-field>
  <mat-form-field class="text-left"> <mat-label
    i18n="The label to select the order of the connections@@main_topology_connections_order-by-label">Order
		by</mat-label> <mat-select formControlName="orderBy"> <mat-option
  value="source"
i18n="The option to order by source@@main_topology_connections_order-by-source">Source</mat-option>
<mat-option value="target"
i18n="The option to order by target@@main_topology_connections_order-by-target">Target</mat-option>
<mat-option value="enabled"
i18n="The option to order by enabled@@main_topology_connections_order-by-enabled">Enabled</mat-option>
</mat-select> </mat-form-field>
<mat-checkbox class="text-left" formControlName="reverse"
  i18n="The label of the checkbox to order in reverse order@@main_topology_connections_order-by-reverse-label">In
		reverse order</mat-checkbox>
</div>
<div class="gap-3 flex flex-row justify-center content-center">
  <button
    i18n="Label of the button to create a new connections@@main_topology_connections_create-label"
    routerLink="/main/topology/live/connections/create" mat-raised-button
    color="primary" class="max-w-72">
			<mat-icon>add</mat-icon>
			Create a new connection
		</button>
  @if (componentId!=null) {
    <button mat-raised-button color="primary"
      [routerLink]="['/main/topology/live/components',componentId,'show']"
      i18n="Label of the button to go back to the component@@main_topology_connections_go-back-to-component-label">
			Go to the component</button>
  }
</div>
@if (page && page.connections && page.connections.length > 0) {
  <div
    >
    <table mat-table [dataSource]="page.connections"
      class="mat-elevation-z8 w-full max-w-3xl">
      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef
        i18n="The label of the connection source column header@@main_topology_connections_source-header-label">Source</th>
        <td mat-cell *matCellDef="let element"
        class="wrap-break-word max-w-32 sm:max-w-40 md:max-w-96">{{element.source}}</td>
      </ng-container>
      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef
        i18n="The label of the connection target column header@@main_topology_connections_target-header-label">Target</th>
        <td mat-cell *matCellDef="let element"
        class="wrap-break-word max-w-32 sm:max-w-40 md:max-w-96">{{element.target}}</td>
      </ng-container>
      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef
        i18n="The label of the connection enabled column header@@main_topology_connections_enabled-header-label">Enabled</th>
        <td mat-cell *matCellDef="let element">@if (element.enabled) {
          <mat-icon
          color="primary">wifi_on</mat-icon>
          } @if (!element.enabled) {
          <mat-icon
          color="warn">wifi_off</mat-icon>
        }</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef
        i18n="The label of the connection actions column header@@main_topology_connections_actions-header-label">Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="Connection menu"
            [matMenuTriggerFor]="connectionMenu">
            <mat-icon>more_vert</mat-icon>
          </button> <mat-menu #connectionMenu="matMenu">
          <button mat-menu-item
            i18n="The label of the menu to show a connection@@main_topology_connections_show-menu-label"
          [routerLink]="['/main/topology/live/connections',element.id,'show']">Show</button>
          @if (!element.enabled) {
            <button mat-menu-item
              i18n="The label of the menu to enable a connection@@main_topology_connections_enable-menu-label"
              [routerLink]="['/main/topology/live/connections',element.id,'change']"
            [queryParams]="{'action':'enable'}">Enable</button>
          }
          @if (element.enabled) {
            <button mat-menu-item
              i18n="The label of the menu to disable a connection@@main_topology_connections_disable-menu-label"
              [routerLink]="['/main/topology/live/connections',element.id,'change']"
            [queryParams]="{'action':'disable'}">Disable</button>
          }
          <button mat-menu-item
            i18n="The label of the menu to remove a connection@@main_topology_connections_remove-menu-label"
            [routerLink]="['/main/topology/live/connections',element.id,'change']"
          [queryParams]="{'action':'remove'}">Remove</button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
} @else {
  <app-message type="WARN"
    i18n="The warning message when no connections found@@main_connections_no-connections-found-warning-msg"
    class="max-w-md"> No connections found that meet the
	specified requirements. Consider reviewing your filtering conditions or
	expanding your search parameters.</app-message> 
}
@if (page && page.total > 5) {
  <div>
    <mat-paginator [length]="page.total"
      [pageSizeOptions]="[5,10, 50, 100]" [pageSize]="pageSize"
      [pageIndex]="pageIndex" (page)="pageChanged($event)"
    aria-label="Select page"> </mat-paginator>
  </div>
}

</div>