<svg viewBox="0 0 700 700" fMarker [type]="eMarkerType.START"
	[height]="5" [width]="5" [refX]="2.5" [refY]="2.5"
	markerUnits="strokeWidth">
        <circle cx="350" cy="350" r="350" [ngClass]="color" />
      </svg>
<svg viewBox="0 0 700 700" fMarker [type]="eMarkerType.SELECTED_START"
	[height]="5" [width]="5" [refX]="2.5" [refY]="2.5"
	markerUnits="strokeWidth">
        <circle cx="350" cy="350" r="350" [ngClass]="selectedColor" />
      </svg>
<svg viewBox="0 0 6 7" fMarker [type]="eMarkerType.END" [height]="7"
	[width]="6" [refX]="5.5" [refY]="3.5" markerUnits="strokeWidth"
	[ngClass]="color" orient="auto">
        <path d="M0.000391006 0L6 3.5L0.000391006 7L0.000391006 0Z"
		[ngClass]="color" />
      </svg>
<svg viewBox="0 0 6 7" fMarker [type]="eMarkerType.SELECTED_END"
	[height]="7" [width]="6" [refX]="5.5" [refY]="3.5"
	markerUnits="strokeWidth" orient="auto">
        <path d="M0.000391006 0L6 3.5L0.000391006 7L0.000391006 0Z"
		[ngClass]="selectedColor" />
      </svg>