
<div class="flex flex-col gap-2 w-full h-full">
	@for(channel of channels;track channel.name){
	<div
		class="p-2 odd:bg-white even:bg-gray-50 dark:odd:bg-gray-900/50 dark:even:bg-gray-950">
		<div class="text-lg font-bold">{{channel.name}}</div>
		<div class="italic pl-4">{{channel.description}}</div>
		@if(channel.subscribe !=null){
		<div class="font-bold pl-4"
			i18n="The label of the component channel subscribe@@main_topology_design_components_view_channel-subscribe-label">Subscribe</div>
		<ngx-json-viewer class="pl-6" [json]="channel.subscribe" [depth]="1"></ngx-json-viewer>
		} @else if(channel.publish !=null){
		<div class="font-bold pl-4"
			i18n="The label of the component channel publish@@main_topology_design_components_view_channel-publish-label">Publish</div>
		<ngx-json-viewer class="pl-6" [json]="channel.publish" [depth]="1"></ngx-json-viewer>
		}
	</div>
	}
</div>
