<div
	class="p-3 gap-7 flex flex-col items-center justify-center content-center">
	<form [formGroup]="searchForm" class="w-full max-w-lg">
		<mat-form-field class="w-full mb-4"> <mat-label
			i18n="The label to ddefine the component name or description to search@@main_component_design_search_pattern-label">
		Name or description:</mat-label> <input matInput type="text"
			placeholder="Write component name or description..."
			i18n-placeholder="The placeholder to enter the pattern to match the component to search@@main_component_design_search_pattern-placeholder"
			formControlName="pattern"> </mat-form-field>
		<button mat-raised-button color="primary" class="w-full" type="submit"
			(clcik)="updatePage()">Search</button>
	</form>
	<div class="max-w-5xl w-full flex flex-col gap-2">
		@if(page && page.components && page.components.length > 0){

		<table mat-table [dataSource]="page.components"
			class="mat-elevation-z8">
			<ng-container matColumnDef="type">
			<th mat-header-cell *matHeaderCellDef
				i18n="The label of the type column@@main_component_design_search_type-column-label">
				Type</th>
			<td mat-cell *matCellDef="let component">{{component.type}}</td>
			</ng-container>
			<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef
				i18n="The label of the name column@@main_component_design_search_name-column-label">
				Name</th>
			<td mat-cell *matCellDef="let component">{{component.name}}</td>
			</ng-container>
			<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef
				i18n="The label of the description column@@main_component_design_search_description-column-label">
				Description</th>
			<td mat-cell *matCellDef="let component">{{component.description}}</td>
			</ng-container>
			<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef
				i18n="The label of the actions column@@main_component_design_search_actions-column-label">Actions</th>
			<td mat-cell *matCellDef="let component">
				<button mat-icon-button aria-label="component menu"
					[matMenuTriggerFor]="componentMenu">
					<mat-icon>more_vert</mat-icon>
				</button> <mat-menu #componentMenu="matMenu">
				<button mat-menu-item
					[routerLink]="['/main/topology/design/components',component.id,'view']">
					<mat-icon color="primary">visibility</mat-icon>
					<span
						i18n="The menu label to view the component@@main_component_design_search_menu-view-label">View</span>
				</button>
				<button mat-menu-item
					[routerLink]="['/main/topology/design/components',component.id,'edit']">
					<mat-icon color="primary">edit</mat-icon>
					<span
						i18n="The menu label to edit the component@@main_component_design_search_menu-edit-label">Edit</span>
				</button>
				<button mat-menu-item (click)="remove(component)">
					<mat-icon color="warn">delete</mat-icon>
					<span
						i18n="The menu label to delete the component@@main_component_design_search_menu-delete-label">Delete</span>
				</button>
				</mat-menu>
			</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		@if(pageIndex > 0 || page.total > 5){
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"
			[pageIndex]="pageIndex" [pageSize]="pageSize" [length]="page.total"
			(page)="pageChanged($event)" aria-label="Select component page"></mat-paginator>
		} }@else{
		<app-message type="WARN"
			i18n="The message when no components found@@main_component_design_search_any-found-msg">
		No component match the specified search parameters. </app-message>
		}
	</div>
</div>