<div *ngIf="!adding; else processing"
	class="p-7 gap-3 flex flex-col items-center justify-center content-center">
	<form [formGroup]="form" class="w-full max-w-3xl">
		<app-component-selector label="Source component"
			i18n-label="The label of the source connection of the connection to create@@main_topology_connections_create_source-component-label"
			(minComponentSelected)="selectedSource($event)"
			[minComponent]="sourceComponent"
			requiredError="You must select a source component for the connection."
			requiredError-i18n="Error message when no defined the source component for the new connection@@main_topology_connections_create_source-component-required-error"></app-component-selector>
		<mat-form-field class="w-full"> <mat-label
			i18n="The label of the source channel of the connection to create@@main_topology_connections_create_source-channel-label">Source
		channel</mat-label> <mat-select formControlName="sourceChannel"> <mat-option
			*ngFor="let channel of sourceChannels" [value]="channel">{{channel.name}}</mat-option>
		</mat-select> <mat-error *ngIf="form.controls.sourceChannel.hasError('required')"
			i18n="Error message when no defined the source channel for the new connection@@main_topology_connections_create_source-channel-required-error">
		You must select a source channel. </mat-error> </mat-form-field>
		<app-component-selector label="Target component"
			i18n-label="The label of the target connection of the connection to create@@main_topology_connections_create_target-component-label"
			(minComponentSelected)="selectedTarget($event)"
			[minComponent]="targetComponent"
			requiredError="You must select a target component for the connection."
			requiredError-i18n="Error message when no defined the target component for the new connection@@main_topology_connections_create_target-component-required-error"></app-component-selector>
		<mat-form-field class="w-full"> <mat-label
			i18n="The label of the target channel of the connection to create@@main_topology_connections_create_target-channel-label">Target
		channel</mat-label> <mat-select formControlName="targetChannel"> <mat-option
			*ngFor="let channel of targetChannels" [value]="channel">{{channel.name}}</mat-option>
		</mat-select> <mat-error *ngIf="form.controls.targetChannel.hasError('required')"
			i18n="Error message when no defined the target channel for the new connection@@main_topology_connections_create_target-channel-required-error">
		You must select a target channel. </mat-error> </mat-form-field>
		<mat-checkbox formControlName="enabled" color="primary"
			i18n="Label fro the check box to enable the connection to be created@@main_topology_connections_create_enabled-label">
		Enable the connection </mat-checkbox>
	</form>
	<div class="gap-3 flex flex-row">
		<button mat-raised-button color="primary"
			i18n="The label of the button to add the connection to create@@main_topology_connections_create_add-label"
			(click)="addConnection()">Add connection</button>
		<button mat-raised-button color="warn"
			i18n="The label of the button to cancel the addition of a connection@@main_topology_connections_create_cancel-label"
			routerLink="/main/topology/connections">Cancel</button>

	</div>
</div>
<ng-template #processing> <app-loading></app-loading> </ng-template>
