@if(component !=null){
<div
	class="w-full h-full p-2 gap-3 flex flex-col justify-center align-center content-center">
	<div class="max-w-3xl grid grid-cols-2 gap-3">
		<div class="text-2xl font-bold col-span-2">{{component.name}}</div>
		<div class="col-span-2">{{component.description}}</div>
		<div class="text-left font-bold"
			i18n="The label of the component type attribute@@shared_component_view_type-label">Type</div>
		<div class="text-left">{{component.type}}</div>
		<div class="text-left font-bold"
			i18n="The label of the component version attribute@@shared_component_view_version-label">Version</div>
		<div class="text-left">{{component.version}}</div>
		<div class="text-left font-bold"
			i18n="The label of the component API version attribute@@shared_component_view_api-version-label">API
			version</div>
		<div class="text-left">{{component.apiVersion}}</div>
		<div class="text-left font-bold"
			i18n="The label of the component since attribute@@shared_component_view_since-label">Since</div>
		<div class="text-left">{{component.since|timestamp:'short'}}</div>
		<fieldSet class="col-span-2">
			<legend class="text-left font-bold"
				i18n="The label of the component channels attribute@@shared_component_view_channels-label">
				Channels </legend>
			<app-channels-view [channels]="component.channels"></app-channels-view>
		</fieldSet>
	</div>
</div>
}@else{
<app-loading></app-loading>
}
