<form class="flex flex-col gap-2" [formGroup]="connectionForm">
  <div class="flex flex-row gap-2">
    <mat-form-field appearance="fill" class="w-full"> <mat-label
    i18n="The label to show the identifier of the #onnection@@main_topology_design_#onnection-editor_id">Id</mat-label>
    <input matInput formControlName="id"> </mat-form-field>
    <button matIconButton aria-label="REmove the connection"
      (click)="removeConnection()">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </div>
  @if(!isNotification){
    <fieldset class="grow fieldset  border-base-300 rounded-box border p-2">
      <legend class="p-2 font-bold"
      i18n="The legend to edit the source of the connection@@main_topology_design_connection-editor_source-fieldset-label">Source:</legend>
      <app-topology-endpoint-editor class="w-full" [isSource]="true"
        [endpoint]="connectionForm.controls.source.value"
      (endpointUpdated)="sourceEndpointChanged($event)"></app-topology-endpoint-editor>
    </fieldset>
    }@else{
    <div
      i18n="Notification explanation@@main_topology_design_connection-editor_notification-explanation">
		When a message is sent from <span class="font-bold">{{sourceNode!.name}}</span>
		(<span class="italic">{{sourceEndpoint!.channel|toChannelName}}</span>)
		to <span class="font-bold">{{targetNode!.name}}</span> (<span
			class="italic">{{targetEndpoint!.channel|toChannelName}}</span>), a
		notification will be sent to the following target node.
	</div>
}
<fieldset class="grow fieldset  border-base-300 rounded-box border p-2">
  <legend class="p-2 font-bold"
  i18n="The legend to edit the target of the connection@@main_topology_design_connection-editor_target-fieldset-label">Target:</legend>
  <app-topology-endpoint-editor class="w-full" [isSource]="false"
    [endpoint]="connectionForm.controls.target.value"
  (endpointUpdated)="targetEndpointChanged($event)"></app-topology-endpoint-editor>
</fieldset>
<mat-form-field> <mat-label
i18n="The label to select the type of connection@@main_topology_design_connection-editor_typee-label">Type</mat-label>
<mat-select formControlName="type"> <mat-option
  value="STRAIGHT"
  i18n="Name for the straight edge type@@c_edge_type_straight">Draw
	a straight line.</mat-option> <mat-option value="BEZIER"
i18n="Name for the bezier edge type@@c_edge_type_bezier">Draw
	a bezier curve.</mat-option> <mat-option value="SEGMENT"
i18n="Name for the segments edge type@@c_edge_type_segments">Draw
	segements lines.</mat-option> </mat-select> @if (connectionForm.controls.type.hasError('required')) {
<mat-error
  i18n="The error message if no type of connection is selected@@main_topology_design_connection-editor_type-required-error">You
	must select a type of connection.</mat-error>
} </mat-form-field>
<mat-form-field> <mat-label
  i18n="The label to edit the convertion code@@main_topology_design_connection-editor_convert-code-label">Convert
	code</mat-label> <textarea matInput formControlName="convertCode"
placeholder="Write the function to convert the source message to the target message."
i18n-placeholder="The placeholder for the field to write the convertion code@@main_topology_design_connection-editor_convert-code-placeholder">
></textarea> </mat-form-field>
@if(notificationAllowed){
  <mat-slide-toggle color="primary" formControlName="notifications"
  i18n="The label of the slide toggle to activate the notifications@@main_topology_design_connection-editor_notification-position-label">Notifications</mat-slide-toggle>
}
</form>
