<div class="w-full h-full">
	<form [formGroup]="connectionForm" class="flex flex-col">
		<fieldset class="fieldset border-base-300 rounded-box w-xs border p-4">
			<legend class="p-2 font-bold"
				i18n="The legend to edit the source of the connection@@main_topology_design_connexction-editor_source-fieldset-label">Source:</legend>
			<app-topology-connection-endpoint-editor class="w-full"
				[isSource]="true" [topology]="topology"
				[endpoint]="connectionForm.controls.source.value"></app-topology-connection-endpoint-editor>
		</fieldset>
		<fieldset class="fieldset border-base-300 rounded-box w-xs border p-4">
			<legend class="p-2 font-bold"
				i18n="The legend to edit the target of the connection@@main_topology_design_connexction-editor_target-fieldset-label">Target:</legend>
			<app-topology-connection-endpoint-editor class="w-full"
				[isSource]="false" [topology]="topology"
				[endpoint]="connectionForm.controls.target.value"></app-topology-connection-endpoint-editor>
		</fieldset>
	</form>
</div>