<div
	class="flex flex-col sm:flex-row gap-3 items-center justify-center content-center">
	<div class="relative grow bg-gray-50 w-gull h-full p-2"
		[ngStyle]="{'height.px':height,'width.px':width}">
		<f-flow fDraggable (fSelectionChange)="onSelectionChange($event)"
			(fCreateNode)="onCreateNode($event)"
			(fCreateConnection)="onConnectionAdded($event)"
			(fReassignConnection)="onReassignConnection($event)" class="w-full">
		@if(conf.editorShowGrid == true){ <f-background> <f-circle-pattern></f-circle-pattern>
		</f-background>} <f-line-alignment [fAlignThreshold]="10"></f-line-alignment> <f-selection-area></f-selection-area>
		<f-canvas fZoom> <f-connection-for-create></f-connection-for-create>
		@for(node of topology.nodes;track node.id){
		<div fNode [fNodeId]="node.id" fDragHandle
			[fNodePosition]="node.position"
			(fNodePositionChange)="onNodePositionChange(node,$event)">
			@if( node.sourceNotification == null ){
			<!-- Component node -->
			<app-component-type-node-container [type]="node.component!.type!"
				[isSelected]="node.id === selected?.id" (width)="node.width=$event"
				(height)="node.height=$event">
			<div
				class="flex flex-row gap-2 items-center justify-center bg-gray-100 rounded-lg p-2">
				<app-content-type-badge [type]="node.component!.type!"
					class="grow-0"></app-content-type-badge>
				<div class="text-wrap font-bold text-lg wrap-break-word">{{node.component!.name}}</div>
			</div>
			@for(endpoint of node.endpoints;track endpoint.id){
			@if(endpoint.isSource){
			<div class="grow p-2 gap-2" fNodeOutput [fOutputId]="endpoint.id"
				[fOutputMultiple]="true" fOutputConnectableSide="right" fNodeOutlet>
				<mat-icon color="primary" fontIcon="publish"></mat-icon>
				{{endpoint.channel|toChannelName}}
			</div>

			} @else{
			<div class="grow p-2 gap-2" fNodeInput [fInputId]="endpoint.id"
				[fInputMultiple]="true" fInputConnectableSide="left">
				<mat-icon color="primary" fontIcon="download"></mat-icon>
				{{endpoint.channel|toChannelName}}
			</div>
			} } </app-component-type-node-container>
			}@else{
			<!-- Notification node -->
			<div class="rounded-full border-2 w-6 h-6 hover:stroke-7 relative"
				[ngClass]="{'border-red-400 bg-red-800':node.id === selected?.id,'border-sky-400 bg-sky-400':node.id !== selected?.id}">
				<div fNodeInput [fInputId]="node.notificationTarget!.id"
					[fInputMultiple]="true" fInputConnectableSide="top"></div>
				<div fNodeOutput [fOutputId]="node.notificationSource!.id"
					[fOutputMultiple]="true" fOutputConnectableSide="bottom"></div>
				<div fNodeOutlet
					class="absolute top-5 start-4 text-sky-800 border border-sky-800 rounded-full text-sm">
					<mat-icon class="scale-75">arrow_downward</mat-icon>
				</div>
			</div>
			}
		</div>
		} @for(connection of topology.connections;track connection.id){ <f-connection
			[fReassignDisabled]="connection.target.channel==null"
			[fType]="connection.type|toConnectionType"
			[fConnectionId]="connection.id" [fOutputId]="connection.source.id"
			[fInputId]="connection.target.id"
			[fStartColor]="connection.colorFor(connection.id==selected?.id)|toCssVar"
			[fEndColor]="connection.colorFor(connection.id==selected?.id)|toCssVar"
			class="hover:stroke-7"
			[ngClass]="{'stroke-3':connection.id==selected?.id,'stroke-2':connection.id!=selected?.id,'notification':connection.isNotification}">
		[fOffset]="30"> <app-connection-markers
			[color]="connection.fillColorFor(false)"
			[selectedColor]="connection.fillColorFor(true)"></app-connection-markers>
		</f-connection> } </f-canvas> </f-flow>
		<!-- TOOLBAR -->
		<div class="absolute top-2 end-2">
			<button mat-icon-button color="primary" (click)="zoomIn()">
				<mat-icon>zoom_in</mat-icon>
			</button>
			<button mat-icon-button color="primary" (click)="zoomOut()">
				<mat-icon>zoom_out</mat-icon>
			</button>
			<button mat-icon-button color="primary" (click)="fit()">
				<mat-icon>aspect_ratio</mat-icon>
			</button>
			<button mat-icon-button color="primary" (click)="topology.undo()"
				[disabled]="!topology.canUndo">
				<mat-icon>undo</mat-icon>
			</button>
			<button mat-icon-button color="primary" (click)="topology.redo()"
				[disabled]="!topology.canRedo">
				<mat-icon>redo</mat-icon>
			</button>
			<button mat-icon-button color="primary"
				[matMenuTriggerFor]="editorMenu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #editorMenu="matMenu">
			<button mat-menu-item [matMenuTriggerFor]="fileMenu">File</button>
			<button mat-menu-item [matMenuTriggerFor]="editMenu">Edit</button>
			<button mat-menu-item
				i18n="The label of the menu to zoom in@@main_topology_editor-toolbar-zoon-in-menu"
				[matMenuTriggerFor]="viewMenu">View</button>
			<a
				href="https://valawai.github.io/docs/architecture/implementations/mov/user_interface"
				target="_blank">
				<button mat-menu-item
					i18n="The menu item that go to the Editor help site@@main_topology_editor-menu-help">Help</button>
			</a> </mat-menu>
			<mat-menu #fileMenu="matMenu">
			<button mat-menu-item (click)="changeTopology()">
				<mat-icon>note_add</mat-icon>
				<span
					i18n="The menu item that create a new topology@@main_topology_editor-menu-file-new">New
					topology</span>
			</button>
			<button mat-menu-item (click)="openTopology()">
				<mat-icon>folder_open</mat-icon>
				<span
					i18n="The menu item that save the current topology@@main_topology_editor-menu-file-open">
					Open... </span>
			</button>
			<button mat-menu-item (click)="saveTopology()">
				<mat-icon>save</mat-icon>
				<span
					i18n="The menu item that save the current topology@@main_topology_editor-menu-file-save">Save
					topology</span>
			</button>
			<button mat-menu-item (click)="duplicateTopology()">
				<mat-icon>content_copy</mat-icon>
				<span
					i18n="The menu item that duplicate the current topology@@main_topology_editor-menu-file-clone">Duplicate</span>
			</button>
			<button mat-menu-item (click)="setTopologyToFollow()">
				<mat-icon>device_hub</mat-icon>
				<span
					i18n="The menu item that use the current topology on the MOV@@main_topology_editor-menu-use">Use
					as Topology to follow</span>
			</button>
			</mat-menu>
			<mat-menu #editMenu="matMenu">
			<button mat-menu-item [disabled]="!topology.canUndo"
				(click)="topology.undo()">
				<mat-icon color="primary">undo</mat-icon>
				<span
					i18n="The menu label to the undo action@@main_topology_editor-menu-edit-undo">Undo</span>
			</button>
			<button mat-menu-item [disabled]="!topology.canRedo"
				(click)="topology.redo()">
				<mat-icon color="primary">redo</mat-icon>
				<span
					i18n="The menu label to the redo action@@main_topology_editor-menu-edit-redo">Redo</span>
			</button>
			<button mat-menu-item [matMenuTriggerFor]="addNodeMenu">
				<mat-icon color="primary">add</mat-icon>
				<span
					i18n="The menu label to add a node@@main_topology_editor-menu-add-node">Add
					node</span>
			</button>
			<button mat-menu-item [matMenuTriggerFor]="selectNodeMenu"
				[disabled]="topology.nodes.length==0">
				<mat-icon color="warn">select</mat-icon>
				<span
					i18n="The menu label to select a node@@main_topology_editor-menu-select-node">Select
					node</span>
			</button>
			</mat-menu>
			<mat-menu #addNodeMenu="matMenu">
			<button mat-menu-item (click)="addNodeByType('C0')">C0</button>
			<button mat-menu-item (click)="addNodeByType('C1')">C1</button>
			<button mat-menu-item (click)="addNodeByType('C2')">C2</button>
			</mat-menu>
			<mat-menu #selectNodeMenu="matMenu"> @for(node of
			topology.nodes;track node.id){
			<button mat-menu-item (click)="selected = node">
				@if(node.component != null){ {{node.component.name}} } @else{
				Notification from {{node.sourceNotification?.channel}} }</button>
			} </mat-menu>
			<mat-menu #viewMenu="matMenu">
			<button mat-menu-item (click)="fit()">
				<mat-icon>aspect_ratio</mat-icon>
				<span i18n="The menu label to fit@@main_topology_editor-menu-fit">Fit
					to Screen </span>
			</button>
			<button mat-menu-item (click)="zoomIn()">
				<mat-icon>zoom_in</mat-icon>
				<span
					i18n="The menu label to zoom in@@main_topology_editor-menu-zoon-in">Zoom
					in</span>
			</button>
			<button mat-menu-item (click)="zoomOut()">
				<mat-icon>zoom_out</mat-icon>
				<span
					i18n="The menu label to zoom in@@main_topology_editor-menu-zoon-out">Zoom
					out</span>
			</button>
			<button mat-menu-item (click)="toogleGrid()">
				<!-- The icon is the reverse because the action what to do the reverse of the current status -->
				<mat-icon *ngIf="conf.editorShowGrid===true; else gridOff">grid_off
				</mat-icon>
				<ng-template #gridOff> <mat-icon>grid_on</mat-icon> </ng-template>
				<span
					i18n="The menu label to toogle grid@@main_topology_editor-menu-toogle-grid">Toggle
					Grid</span>
			</button>
			<button mat-menu-item [matMenuTriggerFor]="layoutsMenu">
				<span
					i18n="The menu label to change the layout@@main_topology_editor-menu-layouts">Layouts</span>
			</button>
			</mat-menu>
			<mat-menu #layoutsMenu="matMenu">
			<button mat-menu-item (click)="changeLayout('horizontal')">
				<span
					i18n="The menu label to change the layout to horizontal@@main_topology_editor-menu-layout-horizontal">Horizontal</span>
			</button>
			<button mat-menu-item (click)="changeLayout('vertical')">
				<span
					i18n="The menu label to change the layout to vertical@@main_topology_editor-menu-layout-vertical">Vertical</span>
			</button>
			</mat-menu>
		</div>
		<!-- PALETE -->
		<div class="absolute start-2 top-2/5">
			<div class="flex flex-col gap-2">
				<button class="p-2" fExternalItem [fPreview]="c0PreviewTemplate"
					fData="C0"
					class="border bg-white border-indigo-500 text-indigo-500 p-1 hover:font-bold hover:text-xl">C0
				</button>
				<button class="p-2" fExternalItem [fPreview]="c1PreviewTemplate"
					fData="C1"
					class="border bg-white border-purple-500 text-purple-500 p-1 hover:font-bold hover:text-xl">C1
				</button>
				<button fExternalItem [fPreview]="c2PreviewTemplate" fData="C2"
					class="border bg-white border-slky-500 text-sky-500 p-1 hover:font-bold hover:text-xl">C2</button>
				<ng-template #c0PreviewTemplate>
				<div
					class="border bg-white border-indigo-500 text-indigo-500 flex flex flex-col items-center justify-center content-center">
					<div>C0</div>
				</div>
				</ng-template>
				<ng-template #c1PreviewTemplate>
				<div
					class="border bg-white border-purple-500 text-purple-500 flex flex flex-col items-center justify-center content-center">
					<div>C1</div>
				</div>
				</ng-template>
				<ng-template #c2PreviewTemplate>
				<div
					class="border bg-white border-sky-500 text-sky-500 flex flex flex-col items-center justify-center content-center">
					<div>C2</div>
				</div>
				</ng-template>
			</div>
		</div>
	</div>
	<div class="sm:w-96 p-2">
		@if( selected == null ){
		<app-topology-form> </app-topology-form>
		} @else if( selectedEditorNode != null){
		<app-topology-node-form [node]="selectedEditorNode"></app-topology-node-form>
		} @else if( selectedEditorConnection != null){
		<app-topology-connection-form [connection]="selectedEditorConnection"></app-topology-connection-form>
		}
	</div>
</div>
