<div
	class="p-1 flex flex-col md:flex-row flex-wrap gap-1 items-center justify-center content-center">
	<div class="bg-gray-200 grow-0 flex flex-row flex-wrap md:flex-col">
		<button class="p-2" fExternalItem [fPreview]="c0PreviewTemplate"
			fData="C0">
			<div class="border border-indigo-500 text-indigo-500">C0</div>
		</button>
		<button class="p-2" fExternalItem [fPreview]="c1PreviewTemplate"
			fData="C1">
			<div class="border border-purple-500 text-purple-500">C1</div>
		</button>
		<button class="p-2" fExternalItem [fPreview]="c2PreviewTemplate"
			fData="C2">
			<div class="border border-slky-500 text-sky-500">C2</div>
		</button>
		<button mat-icon-button color="primary" (click)="fit()"
			matTooltip="Fit topology to screen."
			i18n-matTooltip="The tool tip for the fit action@@main_topology_editor-toolbar-fit-tooltip">
			<mat-icon>aspect_ratio</mat-icon>
		</button>
		<button mat-icon-button color="primary" (click)="zoomIn()"
			matTooltip="Zoom in"
			i18n-matTooltip="The tool tip for the fit action@@main_topology_editor-toolbar-zoon-in-tooltip">
			<mat-icon>zoom_in</mat-icon>
		</button>
		<button mat-icon-button color="primary" (click)="zoomOut()"
			matTooltip="Zoom out"
			i18n-matTooltip="The tool tip for the fit action@@main_topology_editor-toolbar-zoom-out-tooltip">
			<mat-icon>zoom_out</mat-icon>
		</button>
		<button mat-icon-button color="primary"
			[matMenuTriggerFor]="editorMenu">
			<mat-icon>more_horiz</mat-icon>
		</button>
		<mat-menu #editorMenu="matMenu">
		<button mat-menu-item [matMenuTriggerFor]="fileMenu">File</button>
		<button mat-menu-item [matMenuTriggerFor]="editMenu">Edit</button>
		<button mat-menu-item
			i18n="The label of the menu to zoom in@@main_topology_editor-toolbar-zoon-in-menu"
			[matMenuTriggerFor]="viewMenu">View</button>
		<a
			href="https://valawai.github.io/docs/architecture/implementations/mov/user_interface"
			target="_blank">
			<button mat-menu-item
				i18n="The menu item that go to the Editor help site@@main_topology_editor-menu-help">Help</button>
		</a> </mat-menu>
		<mat-menu #fileMenu="matMenu"> New Open Save Save As Import

		Export </mat-menu>
		<mat-menu #editMenu="matMenu"> Undo Redo cut copy paste


		clear canvar? Save As Import Export </mat-menu>
		<mat-menu #viewMenu="matMenu">
		<button mat-menu-item (click)="fit()">
			<mat-icon>aspect_ratio</mat-icon>
			<span i18n="The menu label to fit@@main_topology_editor-menu-fit">Fit
				to Screen </span>
		</button>
		<button mat-menu-item (click)="zoomIn()">
			<mat-icon>zoom_in</mat-icon>
			<span
				i18n="The menu label to zoom in@@main_topology_editor-menu-zoon-in">Zoom
				in</span>
		</button>
		<button mat-menu-item (click)="zoomOut()">
			<mat-icon>zoom_out</mat-icon>
			<span
				i18n="The menu label to zoom in@@main_topology_editor-menu-zoon-out">Zoom
				out</span>
		</button>
		<button mat-menu-item (click)="toogleGrid()">
			<!-- The icon is the reverse because the action what to do the reverse of the current status -->
			<mat-icon *ngIf="showGrid$ | async; else gridOff">grid_off
			</mat-icon>
			<ng-template #gridOff> <mat-icon>grid_on</mat-icon> </ng-template>
			<span
				i18n="The menu label to toogle grid@@main_topology_editor-menu-toogle-grid">Toggle
				Grid</span>
		</button>
		<button mat-menu-item [matMenuTriggerFor]="layoutsMenu">
			<span
				i18n="The menu label to change the layout@@main_topology_editor-menu-layouts">Layouts</span>
		</button>
		</mat-menu>
		<mat-menu #layoutsMenu="matMenu"> <!-- 
		<button mat-menu-item (click)="changeLayout('horizontal')">
			<span
				i18n="The menu label to change the layout to horizontal@@main_topology_editor-menu-layout-horizontal">Horizontal</span>
		</button>
		<button mat-menu-item (click)="changeLayout('vertical')">
			<span
				i18n="The menu label to change the layout to vertical@@main_topology_editor-menu-layout-vertical">Vertical</span>
		</button>
		 --> </mat-menu>
	</div>
	<ng-template #c0PreviewTemplate>
	<div
		class="border border-indigo-500 text-indigo-500 flex flex flex-col items-center justify-center content-center">
		<div>C0</div>
	</div>
	</ng-template>
	<ng-template #c1PreviewTemplate>
	<div
		class="border border-purple-500 text-purple-500 flex flex flex-col items-center justify-center content-center">
		<div>C1</div>
	</div>
	</ng-template>
	<ng-template #c2PreviewTemplate>
	<div
		class="border border-sky-500 text-sky-500 flex flex flex-col items-center justify-center content-center">
		<div>C2</div>
	</div>
	</ng-template>
	<div class="grow bg-gray-50">
		<div [ngStyle]="{'height.px':height}"
			class="w-sm sm:w-md md:w-full md:min-w-xl">
			<f-flow fDraggable (fLoaded)="loaded()"
				(fSelectionChange)="selectionChanged($event)"
				(fCreateNode)="onNodeAdded($event)"> <f-background
				*ngIf="showGrid$|async"> <f-circle-pattern></f-circle-pattern>
			</f-background> <f-line-alignment [fAlignThreshold]="10"></f-line-alignment> <f-selection-area></f-selection-area>
			<f-canvas fZoom> <!-- 
			<f-connection fOutputId="output1"
				fInputId="input1" fType="bezier"> <svg
				viewBox="0 0 20 20" fMarker [type]="eMarkerType.START" [height]="20"
				[width]="20" [refX]="10" [refY]="-5">
        <circle cx="5" cy="5" r="2" stroke="none"
					fill="var(--connection-gradient-1)"></circle>
      </svg> <svg viewBox="0 0 700 700" fMarker [type]="eMarkerType.END"
				[height]="5" [width]="5" [refX]="4" [refY]="2.5">
        <path fill="var(--connection-gradient-2)"
					d="M0,0L700,350L0,700L150,350z" />
      </svg> </f-connection> <f-connection fOutputId="output2" fInputId="input1"
				fType="bezier"> <svg viewBox="0 0 10 10" fMarker
				[type]="eMarkerType.START" [height]="10" [width]="10" [refX]="5"
				[refY]="5">
        <circle cx="5" cy="5" r="2" stroke="none"
					fill="var(--connection-gradient-1)"></circle>
      </svg> <svg viewBox="0 0 700 700" fMarker [type]="eMarkerType.END"
				[height]="5" [width]="5" [refX]="4" [refY]="2.5">
        <path fill="var(--connection-gradient-2)"
					d="M0,0L700,350L0,700L150,350z" />
      </svg> </f-connection> <f-connection fOutputId="output2" fInputId="input21"
				fType="bezier"> <svg viewBox="0 0 10 10" fMarker
				[type]="eMarkerType.START" [height]="10" [width]="10" [refX]="5"
				[refY]="5">
        <circle cx="5" cy="5" r="2" stroke="none"
					fill="var(--connection-gradient-1)"></circle>
      </svg> <svg viewBox="0 0 700 700" fMarker [type]="eMarkerType.END"
				[height]="5" [width]="5" [refX]="4" [refY]="2.5">
        <path fill="var(--connection-gradient-2)"
					d="M0,0L700,350L0,700L150,350z" />
      </svg> </f-connection> <f-connection fOutputId="output22" fInputId="input1"
				fType="bezier"> <svg viewBox="0 0 10 10" fMarker
				[type]="eMarkerType.START" [height]="10" [width]="10" [refX]="5"
				[refY]="5">
        <circle cx="5" cy="5" r="2" stroke="none"
					fill="var(--connection-gradient-1)"></circle>
      </svg> <svg viewBox="0 0 700 700" fMarker [type]="eMarkerType.END"
				[height]="5" [width]="5" [refX]="4" [refY]="2.5">
        <path fill="var(--connection-gradient-2)"
					d="M0,0L700,350L0,700L150,350z" />
      </svg> </f-connection>

			<div fNode fDragHandle [fNodePosition]="{ x: 24, y: 24 }">
				<div
					class="min-w-24 min-h-16 max-w-64 bg-white border-indigo-800 border rounded-lg">
					<div
						class="flex flex-row gap-2 items-center justify-center bg-gray-100 rounded-lg p-2">
						<div
							class="p-1 bg-indigo-600 rounded-sm text-white w-[24px] h-[24px] text-[11px] font-bold text-center">
							C0</div>
						<div class="grow text-wrap font-bold">Email sensor with a
							log of things to do lore ipsum lore</div>
					</div>
					<div class="grow rounded-lg p-2" fNodeOutput fOutputId="output1"
						fOutputConnectableSide="right">input</div>
					<div class="grow rounded-lg p-2" fNodeOutput fOutputId="output2"
						fOutputConnectableSide="right">input</div>
				</div>
			</div>

			<div fNode fDragHandle [fNodePosition]="{ x: 24, y: 424 }">
				<div
					class="min-w-24 min-h-16 max-w-64 bg-white border-indigo-800 border rounded-lg">
					<div
						class="flex flex-row gap-2 items-center justify-center bg-gray-100 rounded-lg p-2">
						<div
							class="p-1 bg-indigo-600 rounded-sm text-white w-[24px] h-[24px] text-[11px] font-bold text-center">
							C0</div>
						<div class="grow text-wrap font-bold">Email sensor with a
							log of things to do lore ipsum lore</div>
					</div>
					<div class="grow rounded-lg p-2" fNodeOutput fOutputId="output21"
						fOutputConnectableSide="right" fNodeInput fInputId="input21"
						fInputConnectableSide="left">input</div>
					<div class="grow rounded-lg p-2" fNodeOutput fOutputId="output22"
						fOutputConnectableSide="right" fNodeInput fInputId="input21"
						fInputConnectableSide="left">input</div>
				</div>
			</div>

			<div fNode fDragHandle [fNodePosition]="{ x: 640, y: 24 }" fNodeInput
				fInputId="input1" fInputConnectableSide="left">
				<svg width="256" height="256" viewBox="0 0 256 256"
					xmlns="http://www.w3.org/2000/svg">
  <rect x="0" y="0" width="256" height="256" rx="10" ry="10"
						fill="#E5E7EB" />

  <rect x="8" y="8" width="40" height="40" rx="5" ry="5" fill="#9333EA" />
  <text x="28" y="34" font-family="Arial, sans-serif" font-size="14"
						font-weight="bold" fill="white" text-anchor="middle"
						alignment-baseline="middle">C0</text>

  <text x="128" y="128" font-family="Arial, sans-serif" font-size="18"
						font-weight="semibold" fill="#1F2937" text-anchor="middle"
						alignment-baseline="middle">Email sensor</text>

  </svg>
			</div>
			--> @for(node of nodes;track node.id){
			<div fNode [fNodeId]="node.id" fDragHandle
				[fNodePosition]="node.position">
				<div class="min-w-24 min-h-16 max-w-64 bg-white border rounded-lg"
					[ngClass]="{'border-indigo-800':node.type=='C0','border-purple-800':node.type=='C1','border-sky-800':node.type=='C2'}">
					<div
						class="flex flex-row gap-2 items-center justify-center bg-gray-100 rounded-lg p-2">
						<div
							class="p-1 rounded-sm text-white w-[24px] h-[24px] text-xs font-bold text-center"
							[ngClass]="{'bg-indigo-600':node.type=='C0','bg-purple-600':node.type=='C1','bg-sky-600':node.type=='C2'}">
							{{node.type}}</div>
						<div class="grow text-wrap font-bold text-lg">{{node.name}}</div>
						<button mat-icon-button [matMenuTriggerFor]="nodeMenu">
							<mat-icon class="text-xs">more_vert</mat-icon>
						</button>
						<mat-menu #nodeMenu="matMenu">
						<button mat-menu-item (click)="deleteNode(node)">
							<mat-icon color="warn">delete</mat-icon>
							<span
								i18n="The label of the menu to delete a node from the topology@@main_topology_design_editor-menu-delete-node">Delete
								node</span>
						</button>
						</mat-menu>
					</div>
					<!-- 
					<div class="grow rounded-lg p-2" fNodeOutput fOutputId="output1"
						fOutputConnectableSide="right">input</div>
					<div class="grow rounded-lg p-2" fNodeOutput fOutputId="output2"
						fOutputConnectableSide="right">input</div>
						 -->
				</div>
			</div>
			} </f-canvas> </f-flow>
		</div>
	</div>
	<div class="lg:max-w-sm w-full p-2">
		@switch(selectedElement?.constructor?.name){
		@case('TopologyViewNodeModel'){
		<app-topology-node-editor [node]="selectedNode"></app-topology-node-editor>
		} @case('TopologyViewConnectionModel'){
		<app-topology-connection-editor [connection]="selectedConnection"></app-topology-connection-editor>
		} @default {
		<div class="text-gray-400 italic text-wrap"
			i18n="@@main_topology_editor-no-selection-msg">Select an
			element in the graph to show its information.</div>
		} }
	</div>
</div>
