<form class="flex flex-col gap-2" [formGroup]="nodeForm">
	<div class="flex flex-row gap-2">
		<mat-form-field appearance="fill" class="w-full"> <mat-label
			i18n="The label to show the identifier of the node@@main_topology_design_node-form_id">Id</mat-label>
		<input matInput formControlName="id"> </mat-form-field>
		<button matIconButton aria-label="Button to remove the node"
			i18n-aria-label="The aria label to remove the node@@main_topology_design_node-form_remove-node"
			(click)="removeNode()">
			<mat-icon color="warn">delete</mat-icon>
		</button>
	</div>
	<mat-form-field appearance="fill" class="w-full"> <mat-label
		i18n="The label to select the level@@main_topology_design_node-form_level">Level</mat-label>
	<mat-select formControlName="level"> <mat-option
		value="C0">C0</mat-option> <mat-option value="C1">C1</mat-option> <mat-option
		value="C2">C2</mat-option> </mat-select> </mat-form-field>
	<mat-form-field appearance="fill" class="w-full"> <mat-label
		i18n="The label to select the component@@main_topology_design_node-form_component">Component</mat-label>
	<input matInput formControlName="component"
		[matAutocomplete]="componentAuto"> <mat-autocomplete
		#componentAuto="matAutocomplete" [displayWith]="displayComponent">
	@for(component of page?.components;track component.id){ <mat-option
		[value]="component">
	<h1 class="font-bold mb-4">{{component.name}}</h1>
	<p class="leading-relaxed line-clamp-5 overflow-hidden text-ellipsi">{{component.description}}</p>
	</mat-option> } </mat-autocomplete> @if(nodeForm.controls.component.hasError('required')){ <mat-error
		i18n="The error message if no component is selected@@main_topology_design_node-form_component-required">You
	must select the component associated to the node.</mat-error> } </mat-form-field>
	@if(selectedComponent != null){
	<div>
		<span class="line-clamp-5 text-gray-400 overflow-hidden text-ellipsi">
			{{selectedComponent.description}}</span> @if(selectedComponent.docsLink !=
		null){ <a [href]="selectedComponent.docsLink" target="_blank"
			class="text-blue-500 hover:text-blue-700"> <mat-icon>arrow_forward</mat-icon>
			<span
			i18n="Text to learn more about the selected omcponent in teh node@@main_topology_design_node-form_component-learn-more">
				Learn more </span>
		</a> }
	</div>
	}
	<fieldset class="grow fieldset  border-base-300 rounded-box border p-2">
		<legend class="p-2 font-bold"
			i18n="The legend to edit the node position@@main_topology_design_node-form_position-label">Position:</legend>
		<div class="flex flex-col gap-2">
			<mat-form-field class="w-full" appearance="fill"> <mat-label
				i18n="The label to edit the X position of the node@@main_topology_design_node-form_x">X</mat-label>
			<input matInput formControlName="positionX" type="number"> </mat-form-field>
			<mat-form-field class="w-full" appearance="fill"> <mat-label
				i18n="The label to edit the Y position of the node@@main_topology_design_node-form_y">Y</mat-label>
			<input matInput formControlName="positionY" type="number"> </mat-form-field>
		</div>
	</fieldset>
	<fieldset
		class="grow fieldset  border-base-300 rounded-box border p-2 relative">
		<legend class="p-2 font-bold"
			i18n="The legend to edit the node endpoints@@main_topology_design_node-form_endpoints-label">Endpoints:

		</legend>
		@if(possibleChannels.length > 0){
		<div class="absolute  end-2 -top-8">
			<button matMiniFab color="primary" (click)="addEndpoint()"
				aria-label="Add an endpoint to the node"
				i18n-aria-label="The aria label to add an endpoint to the node@@main_topology_design_node-form_add-endpoint">
				<mat-icon>add</mat-icon>
			</button>
		</div>
		}
		<div class="flex flex-col gap-2">
			@for(channel of activeChannels;track channel.name){
			<div class="flex flex-row gap-2">
				<app-channel-schema-view [channel]="channel"></app-channel-schema-view>
				<div class="grow-0">
					<button matIconButton aria-label="Button to remove the endpoint"
						i18n-aria-label="The aria label to remove the endpoint@@main_topology_design_endpoint-form_remove-endpoint"
						(click)="removeEndpoint(channel)">
						<mat-icon color="warn">delete</mat-icon>
					</button>
				</div>
			</div>
			}
		</div>
	</fieldset>
</form>
